<!DOCTYPE html>
<html>
<head>
  <title>Pinteresting</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Home", root_path %>
	<%= link_to "About", about_path %>
	<%= yield %>
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
>>>>>>> d71a9c78194780abe91a9f592cd0440710171181

</body>
</html>
